<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Clients</title>
  </head>
  <body>
    <form action="/clients/add" method="POST">
      <h1>Tambah Data</h1>
      <input type="text" name="client_name" />
      <input type="submit" value="Tambah Client" />
    </form>

    <table>
      <tr>
        <th>Client</th>
        <th>Nama</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {% for client in clients %}
      <tr>
        <td><i class="bi bi-person"></i></td>
        <td><a href="{{url_for('client', id=client.id)}}">{{client['name']}}</a></td>
        <td><a href="{{url_for('client_edit', id=client.id)}}">edit</a></td>
        <td>
          <a href="#" class="delete">delete</a>
          <a href="/clients/delete/{{client['id']}}" class="confirm" style="display: none"><i class="bi bi-check"></i></a>
          <a href="#" class="cancel" style="display: none"><i class="bi bi-x"></i></a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
